<!DOCTYPE html>
<html>
<head>
    <title>Confirm Password Reset</title>
</head>
<body>
    <h1>Confirm New Password</h1>
    <form method="post" >

        {% csrf_token %}
        <label for="new_password1">New Password:</label>
        <input type="password" name="new_password1" id="new_password1" required>
        <br>
        <label for="new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" id="new_password2" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
    <p><a href="{% url 'Account:render_Login' %}">Back to login</a></p>
</body>
</html>
